@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

body {
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    background: #fff;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-right {
    margin-right: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
	font-size: 32px;
	font-weight: 700;
}
h2 {
	font-family:'Montserrat', sans-serif;
	font-size: 17px;
    color: #536dab;
    font-weight: 700;
	text-transform: uppercase;
}
h2 a {
	color: #536dab;
}
h2 a:hover {
	color: #f0ae04;
}
h4 {
	font-family:'Montserrat', sans-serif;
	font-size: 18px;
    color: #536dab;
    font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #54bbe8;
	padding: 10px;
	text-align: center;
}
h5 {
	font-family:'Montserrat', sans-serif;
	font-size: 18px;
    color: #536dab;
    font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #e8546c;
	padding: 10px;
	text-align: center;
}
p {
	font-size: 14px;
    color: #5f6061;
}
strong {
	color: #54bbe8;
}
.btn-header {
    color: #fff;
    background-color: #54bbe8;
    border-color: #fff;
	border-radius: 0px;
	padding: 0px;
}
.btn-header:hover, .btn-header:focus, .btn-header.focus, .btn-header:active, .btn-headert.active, .open > .dropdown-toggle.btn-header {
    color: #fff;
    background-color: #f0ae04;
    border-color: #fff;
}
.form-header {
	color: #fff;
    background-color: #54bbe8;
	border-color: #fff;
	border-radius: 0px;
	height: 42px;
}

.form-header::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.form-header::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.form-header:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.form-header:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.form-header:focus {
    border-color: #fff;
	border-style: dashed;
}

.col-md-4 img {
	border: 1px solid #54bbe8;
}
.btn {
	font-weight: 700;
}
.btn-primary {
	display: block;
	text-transform: uppercase;
	padding: 8px 12px;
	background-color: #54bbe8;
    border-color: #2aa0d4;
	margin-bottom: 40px;
}
.btn-primary strong {
	color: #fff;
	font-size: 18px;
    padding-left: 150;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #f0ae04;
    border-color: #dea30b;
}
.btn-danger {
	display: block;
	text-transform: uppercase;
	padding: 8px 12px;
	background-color: #e8546c;
    border-color: #e8546c;
	margin-bottom: 40px;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #f0ae04;
    border-color: #dea30b;
}
.btn-warning {
	display: block;
	text-transform: uppercase;
	padding: 8px 12px;
	background-color: #f0ae04;
    border-color: #f0ae04c;
	margin-bottom: 40px;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #f0ae04;
    border-color: #f0ae04;
}
.section-primary {
	background-image:url(../img/fondo-footer.jpg);
}
.section-primary p{
	font-size: 12px;
    color: #fff;
}
.section-menu {
	background-image:url(../img/fondo.jpg);
}
footer p{
	padding-top: 45px;
}
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
	color: #5f6061;
}

.section-a h2 {
	margin-top: 25;
}

.contenedor-curso {
	position: relative;
}
.fecha {
	background-color: #01528d;
    border-radius: 18%;
    padding: 3px 17px;
	top: -10px;
	left:4px;
    position: absolute;  
    color: #fff;
}
.fecha h2 {
	font-family:'Montserrat', sans-serif;
	font-size: 36px;
    color: #fff;
    font-weight: 700;
	text-transform: uppercase;
	height: auto;
	margin-top: 0px;
    margin-bottom: 0px;
	text-align:center;
}
.fecha p {
	color: #fff;
    font-weight: 700;
	height: auto;
	text-align:center;
	margin: 0 0 5px;
}

.fecha-pronto {
	background-color: #f0ae04;
}
.fecha-destacada {
	background-color: #e8546c;
}

@media (min-width: 992px) {
	.contenedor-curso > div {
		height: 15em;
		overflow: hidden;
	}
	.contenedor-curso > div > h2 {
		height: 4em;
		overflow: hidden;	
	}
	.contenedor-curso > div > p {
		height: 3em;
		overflow: hidden;	
	}
}